baseimages/debootstrap
baseimages/qemu-arm-static
baseimages/qemu-x86_64-static
baseimages/jessie_chroot
baseimages/stretch_chroot
baseimages/alpine_chroot
hubot-rocketchat/packages/*
hubot-rocketchat/redis-dump
mediawiki/kblogo.png
mediawiki/_db
mediawiki/_deleted
mediawiki/_images
nextcloud/_config
nextcloud/_db
nextcloud/_nc
nextcloud-devenv/_db
rocketchat/mongo
*.img
*.dtb
.env
.idea
