.idea
baseimages/debootstrap
baseimages/qemu-arm-static
baseimages/qemu-x86_64-static
baseimages/jessie_chroot
baseimages/stretch_chroot
baseimages/alpine_chroot
hubot-rocketchat/packages/*
Dockerfile-armhf
*.img
*.dtb
.env
venv/
__pycache__/
