version: "3.7"
services:
  frontend:
    image: cusdeb/nextcloud:26-amd64
    environment:
    - TYPE=frontend
    ports:
    - 8001:8001
  backend:
    image: cusdeb/nextcloud:26-amd64
    environment:
    - TYPE=backend
    - PM_MAX_CHILDREN=${PM_MAX_CHILDREN}
    - PM_START_SERVERS=${PM_START_SERVERS}
    - PM_MIN_SPARE_SERVERS=${PM_MIN_SPARE_SERVERS}
    - PM_MAX_SPARE_SERVERS=${PM_MAX_SPARE_SERVERS}
    volumes:
    - ./_config:/var/www/nc/config
    - ./_nc/data:/var/www/nc/data
  news_updater:
    image: cusdeb/nextcloud:26-amd64
    environment:
    - TYPE=news_updater
    volumes:
    - ./_config:/var/www/nc/config
    - ./_nc/data:/var/www/nc/data
  notify_push:
    image: cusdeb/notify_push:0.5.0-amd64
    environment:
    - NEXTCLOUD_URL=http://frontend:8001
    volumes:
    - ./_config:/config
  mariadb:
    image: cusdeb/mariadb:10.6-amd64
    environment:
    - MYSQLD_bind_address=mariadb
    - MYSQLD_innodb_file_per_table=1
    - MYSQL_DATABASE=nc
    - MYSQL_ROOT_PASSWORD=secret
    volumes:
    - ./_db:/var/lib/mysql
  redis:
    image: cusdeb/redis:6.0-amd64
    environment:
    - BIND=redis
    - PORT=6379
    - REDIS_CONF_maxmemory=512mb
    - REDIS_CONF_maxmemory_policy=allkeys-lru
    - REDIS_CONF_tcp_keepalive=0
    # Disable AOF
    - REDIS_CONF_appendonly=no
    # Disable RDB
    - REDIS_CONF_save=
  coturn:
    image: cusdeb/coturn:4.6.2
    ports:
      - "3478:3478"
      - "3478:3478/udp"
      - "5349:5349"
      - "5349:5349/udp"
      - "49160-49200:49160-49200/udp"
