name: Linter Runner

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Run shellcheck
        run: |
          shellcheck cleanup/*.sh
          shellcheck mariadb/docker-entrypoint.sh
          shellcheck mediawiki/*.sh
          shellcheck mwlib/docker-entrypoint.sh
          shellcheck nextcloud/docker-entrypoint.sh
          shellcheck redis/docker-entrypoint.sh
          shellcheck rocketchat/docker-entrypoint.sh
          shellcheck transmission-web/docker-entrypoint.sh
          shellcheck vsftpd/docker-entrypoint.sh

      - name: Install pylint
        run: pip install pylint

      - name: Run pylint
        run: |
          find -name "*.py" -not -path "./.git/*" | xargs pylint

